<!-- Custom Dialog -->
<div class="custom-dialog-overlay" *ngIf="isDialogOpen">
  <div class="custom-dialog">
    <div class="custom-dialog-header">
      <h2>Statistics</h2>
      <button class="close-button" (click)="closeDialog()">&times;</button>
    </div>
    <div class="custom-dialog-content">
      <div class="stats-box">
        <div class="stats-item">
          <span class="stats-title">Total Records Received:</span>
          <span class="stats-value">{{ statistics?.totalRecordsReceived }}</span>
        </div>
        <div class="stats-item">
          <span class="stats-title">Total Updates Applied:</span>
          <span class="stats-value">{{ statistics?.totalUpdatesApplied }}</span>
        </div>
        <div class="stats-item">
          <span class="stats-title">Last Update Time:</span>
          <span class="stats-value">{{ statistics?.lastUpdateTimestamp || 'N/A' }}</span>
        </div>
      </div>

      <h4>Last 5 Update Time Differences (in seconds)</h4>
      <div class="time-differences">
        <ul>
          <li *ngFor="let diff of statistics?.lastFiveUpdateDifferences">
            <span class="time-label">Update Interval:</span>
            <span class="time-value">{{ diff }}s</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>



<div class="example-wrapper">
  <div style="display: flex;
      width: 100%;
      padding: 5px;">
    <div>
      <label for="recordCount">Generate No. of Records:</label>
      <input id="recordCount" type="number" [(ngModel)]="numberOfRecords" min="1" max="100" />
      <button (click)="updateRecords()" [disabled]="numberOfRecords > 20000">Update</button>
    </div>
    <div style="display: flex;
        justify-content: flex-end;
        margin: 0 16px 0 auto;">
      <button class="stats-button" (click)="openDialog()">Show Stats</button>
    </div>
  </div>
  <ag-grid-angular style="width: 100%; height: 100%;" [columnDefs]="columnDefs" [suppressAggFuncInHeader]="true"
    [rowGroupPanelShow]="rowGroupPanelShow" [asyncTransactionWaitMillis]="asyncTransactionWaitMillis"
    [getRowId]="getRowId" [defaultColDef]="defaultColDef" [autoGroupColumnDef]="autoGroupColumnDef" [rowData]="rowData"
    (asyncTransactionsFlushed)="onAsyncTransactionsFlushed($event)" (gridReady)="onGridReady($event)" />
</div>



<router-outlet />